@model List<FlowerShop.Context.FLOWER>
@{
    ViewBag.Title = "Trang chủ";
    <link rel="stylesheet" href="~/Content/assets/css/homepage.css">
    var randomFlowerTypes = Model.Select(f => f.FLOWERTYPE.FLOWERTYPE_NAME).Distinct().OrderBy(x => Guid.NewGuid()).Take(3).ToList();
}

<div class="list-flower container">
    <div id="home-slider" class="carousel slide carousel-fade mb-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/assets/img/banner1.png" class="d-block w-100 img-thumbnail" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/assets/img/banner2.png" class="d-block w-100 img-thumbnail" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/assets/img/banner3.png" class="d-block w-100 img-thumbnail" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#home-slider" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#home-slider" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div id="discount-flower">
        <h4 class="mt-5 mb-4 text-center">ĐANG GIẢM GIÁ</h4>
        <div class="list-product row">
            @foreach (var item in Model.Where(f => f.OLD_PRICE != null).OrderBy(x => Guid.NewGuid()).Take(4).ToList())
            {
                <div class="item-product col-md-3 col-6 mb-4">
                    <div class="image position-relative mb-3">
                        <a href="@Url.Action("Detail", "Flowers", new { flowerId = item.FLOWER_ID })">
                            <img class="img-fluid" src="~/Content/assets/img/product/@item.FLOWER_IMAGE" alt="@item.FLOWER_IMAGE">
                            @if (item.OLD_PRICE != null)
                            {
                                var oldPrice = item.OLD_PRICE;
                                var newPrice = item.NEW_PRICE;
                                var discount = ((oldPrice - newPrice) / oldPrice) * 100;
                                <span class="percent-off-rounded">@discount.Value.ToString("N0")%<br>GIẢM</span>
                            }
                        </a>
                    </div>
                    <div class="content">
                        <div class="description">
                            <div class="fw-bold text-center">
                                <a href="@Url.Action("Detail", "FLowers", new { flowerId = item.FLOWER_ID })">@item.FLOWER_NAME</a>
                            </div>
                            <div class="price text-center fw-bold p-2">
                                <span class="price-new">@item.NEW_PRICE.Value.ToString("N0")VNĐ</span>
                                @if (item.OLD_PRICE != null)
                                {
                                    <span class="price-old">@item.OLD_PRICE.Value.ToString("N0")VNĐ</span>
                                }
                            </div>
                            <div class="d-flex justify-content-center">
                                <a class="btn bg-pink px-md-4 text-white rounded" href="@Url.Action("Detail", "FLowers", new { flowerId = item.FLOWER_ID })">Đặt hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="feature-note row mt-2">
        <div class="col-12 col-md-4">
            <div class="text-center">
                <img src="~/Content/assets/img/3.png.png" alt="">
                <h5>FREE SHIPPING</h5>
                <p>
                    Bloom FLower giao miễn phí các nội thành TP.HCM đối với tất cả bó hoa, lẵng hoa, và kệ hoa trên 1 triệu.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="text-center">
                <img src="~/Content/assets/img/2.png.png" alt="">
                <h5>GIAO NHANH TRONG 90 PHÚT</h5>
                <p>Bloom Flower có thể giao nhanh trong 90' khu vực nội thành TP.HCM với bó / lẵng hoa đơn giản.</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="text-center">
                <img src="~/Content/assets/img/3.png.png" alt="">
                <h5>HOA ĐẸP NHƯ HÌNH</h5>
                <p>Cam kết hoa đẹp như hình và giống đến 90% so với hình chụp trên website.</p>
            </div>
        </div>
    </div>

    <div id="hot-flower">
        <h4 class="mt-5 mb-4 text-center">ĐẶT NHIỀU NHẤT</h4>
        <div class="list-product row">
            @foreach (var item in Model.Where(flower => flower.ORDERDETAILS.Any()).OrderByDescending(flower => flower.ORDERDETAILS.Sum(orderDetail => orderDetail.QUANTITY)).Take(4))
            {
                <div class="item-product col-md-3 col-6 mb-4">
                    <div class="image position-relative mb-3">
                        <a href="@Url.Action("Detail", "Flowers", new { flowerId = item.FLOWER_ID })">
                            <img class="img-fluid" src="~/Content/assets/img/product/@item.FLOWER_IMAGE" alt="@item.FLOWER_IMAGE">
                            @if (item.OLD_PRICE != null)
                            {
                                var oldPrice = item.OLD_PRICE;
                                var newPrice = item.NEW_PRICE;
                                var discount = ((oldPrice - newPrice) / oldPrice) * 100;
                                <span class="percent-off-rounded">@discount.Value.ToString("N0")%<br>GIẢM</span>
                            }
                        </a>
                    </div>
                    <div class="content">
                        <div class="description">
                            <div class="fw-bold text-center">
                                <a href="@Url.Action("Detail", "FLowers", new { flowerId = item.FLOWER_ID })">@item.FLOWER_NAME</a>
                            </div>
                            <div class="price text-center fw-bold p-2">
                                <span class="price-new">@item.NEW_PRICE.Value.ToString("N0")VNĐ</span>
                                @if (item.OLD_PRICE != null)
                                {
                                    <span class="price-old">@item.OLD_PRICE.Value.ToString("N0")VNĐ</span>
                                }
                            </div>
                            <div class="d-flex justify-content-center">
                                <a class="btn bg-pink px-md-4 text-white rounded" href="@Url.Action("Detail", "FLowers", new { flowerId = item.FLOWER_ID })">Đặt hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        @foreach (var flowerType in randomFlowerTypes)
        { 
            <div id="random-flower">
                <h4 class="mt-5 mb-4 text-center">@flowerType.ToUpper()</h4>
                <div class="list-product row justify-content-center">
                    @foreach (var item in Model.Where(f => f.FLOWERTYPE.FLOWERTYPE_NAME == flowerType).OrderBy(x => Guid.NewGuid()).Take(4).ToList())
                    {
                        <div class="item-product col-md-3 col-6 mb-4">
                            <div class="image position-relative mb-3">
                                <a href="@Url.Action("Detail", "Flowers", new { flowerId = item.FLOWER_ID })">
                                    <img class="img-fluid" src="~/Content/assets/img/product/@item.FLOWER_IMAGE" alt="@item.FLOWER_IMAGE">
                                    @if (item.OLD_PRICE != null)
                                    {
                                        var oldPrice = item.OLD_PRICE;
                                        var newPrice = item.NEW_PRICE;
                                        var discount = ((oldPrice - newPrice) / oldPrice) * 100;
                                        <span class="percent-off-rounded">@discount.Value.ToString("N0")%<br>GIẢM</span>
                                    }
                                </a>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="fw-bold text-center">
                                        <a href="@Url.Action("Detail", "FLowers", new { flowerId = item.FLOWER_ID })">@item.FLOWER_NAME</a>
                                    </div>
                                    <div class="price text-center fw-bold p-2">
                                        <span class="price-new">@item.NEW_PRICE.Value.ToString("N0")VNĐ</span>
                                        @if (item.OLD_PRICE != null)
                                        {
                                            <span class="price-old">@item.OLD_PRICE.Value.ToString("N0")VNĐ</span>
                                        }
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a class="btn bg-pink px-md-4 text-white rounded" href="@Url.Action("Detail", "FLowers", new { flowerId = item.FLOWER_ID })">Đặt hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

<div id="feedback-customer" class="mt-5 pb-5" style="background-color: #FDE7E5;">
    <h4 class="text-center pt-5 pb-4 m-0">FEEDBACK TỪ KHÁCH HÀNG</h4>
    <div id="feedback-slider" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner container">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="bg-white p-4 feedback-item">
                            <p class="h-75 m-0">
                                “Hôm trước đặt hoa ở Long An, thấy xa tưởng là không có shop nào nhận, ai ngờ may
                                quá
                                biết được bên này có giao hoa luôn
                            </p>
                            <div class="user-information d-flex h-25">
                                <img class="rounded-circle" src="~/Content/assets/img/avatar-placeholder.png" alt="avatar"
                                     style="width: 50px; height: 50px">
                                <div class="ms-2">
                                    <p class="fw-bold m-0">Quỳnh Anh</p>
                                    <p>Khách hàng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-2 mt-md-0">
                        <div class="bg-white p-4 feedback-item">
                            <p class="h-75 m-0">
                                “Lúc nãy đặt bó tỏ tình, rất đẹp nha các bạn! Cảm ơn các bạn đã tỉ mỉ giúp mình bó
                                hoa
                                lúc nãy nè. Lễ lượt mình đặt có gì inbox bạn.”
                            </p>
                            <div class="user-information d-flex h-25">
                                <img class="rounded-circle" src="~/Content/assets/img/avatar-placeholder.png" alt="avatar"
                                     style="width: 50px; height: 50px">
                                <div class="ms-2">
                                    <p class="fw-bold m-0">Trọng Tấn</p>
                                    <p>Khách hàng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="bg-white p-4 feedback-item">
                            <p class="h-75 m-0">
                                “Lẵng hoa khai trương vừa nhận được rất hài lòng, sẽ ủng hộ shop những lần tiếp
                                theo.”
                            </p>
                            <div class="user-information d-flex h-25">
                                <img class="rounded-circle" src="~/Content/assets/img/avatar-placeholder.png" alt="avatar"
                                     style="width: 50px; height: 50px">
                                <div class="ms-2 h-50">
                                    <p class="fw-bold m-0">Leo Messi</p>
                                    <p>Khách hàng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-2 mt-md-0">
                        <div class="bg-white p-4 feedback-item">
                            <p class="h-75 m-0">
                                “Cảm ơn các bạn bó hoa sang trọng nè, màu tím này hợp với mẹ chồng mình thích
                                luôn.
                            </p>
                            <div class="user-information d-flex h-25">
                                <img class="rounded-circle" src="~/Content/assets/img/avatar-placeholder.png" alt="avatar"
                                     style="width: 50px; height: 50px">
                                <div class="ms-2 h-50">
                                    <p class="fw-bold m-0">Cristiano Ronaldo</p>
                                    <p>Khách hàng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-12 col-md-6 px-3">
                        <div class="bg-white p-4 feedback-item">
                            <p class="h-75 m-0">
                                “Nhóm mình 5 đứa đặt bó hoa nhỏ xinh tặng con bé bạn cùng phòng kí túc xá, nó nhận
                                được hoa vui cười tít mắt.”
                            </p>
                            <div class="user-information d-flex h-25">
                                <img class="rounded-circle" src="~/Content/assets/img/avatar-placeholder.png" alt="avatar"
                                     style="width: 50px; height: 50px">
                                <div class="ms-2 h-50">
                                    <p class="fw-bold m-0">Hoàng Lan</p>
                                    <p>Khách hàng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-2 mt-md-0">
                        <div class="bg-white p-4 feedback-item">
                            <p class="h-75 m-0">
                                “Con bé nhà chú thích bó hướng dương lắm cháu ạ, hôm nay lễ tốt nghiệp của nó, chú
                                phải chọn hướng dương cho nó ý nghĩa, cảm ơn các cháu”
                            </p>
                            <div class="user-information d-flex h-25">
                                <img class="rounded-circle" src="~/Content/assets/img/avatar-placeholder.png" alt="avatar"
                                     style="width: 50px; height: 50px">
                                <div class="ms-2 h-50">
                                    <p class="fw-bold m-0">Minh Hà</p>
                                    <p>Khách hàng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#feedback-slider" data-bs-slide="prev">
            <i class="fa-solid fa-chevron-left text-black-50"></i>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#feedback-slider" data-bs-slide="next">
            <i class="fa-solid fa-chevron-right text-black-50"></i>
            <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-indicators position-relative mt-3 mb-0">
            <button type="button" data-bs-target="#feedback-slider" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#feedback-slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#feedback-slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    </div>
</div>