
@{
    int totalPrice = 0;
}
<ul class="dropdown-menu dropdown-menu-end p-0">
    <table class="table mb-0 table-cart-flower" style="min-width: 500px;">
        @if (ViewBag.lstFlowerCarts != null && ViewBag.lstFlowerCarts.Count > 0)
        {
            <tbody>
                @foreach (var item in ViewBag.lstFlowerCarts)
                {
                    <tr>
                        <td class="text-center">
                            <a href="@Url.Action("Detail", "Flowers", new {flowerId = item.FLOWER_ID})">
                                <img class="img-thumbnail img-cart-flower"
                                        src="~/Content/assets/img/@item.FLOWER.FLOWER_IMAGE" alt="@item.FLOWER.FLOWER_IMAGE">
                            </a>
                        </td>
                        <td class="align-middle text-center">
                            <a href="@Url.Action("Detail", "Flowers", new {flowerId = item.FLOWER_ID})">
                                @item.FLOWER.FLOWER_NAME
                            </a>
                        </td>
                        <td class="text-center align-middle quantity" data-flower-id="@item.FLOWER_ID">
                            @item.QUANTITY
                        </td>
                        <td class="text-center align-middle subtotal-price" data-flower-id="@item.FLOWER_ID">
                            @item.SUBTOTAL.ToString("N0")VNĐ
                        </td>
                        <td class="text-start align-middle">
                            <button class="btn bg-pink shadow-none btn-delete-product liveToastBtn"
                                    data-shoppingCartId="@item.CART_ID" data-flower-id="@item.FLOWER_ID">
                                <i class="fa-solid fa-x text-white"></i>
                            </button>
                        </td>
                    </tr>
                    totalPrice += (int)@item.SUBTOTAL;
                }
                <tr>
                    <td class="fw-bold text-end" colspan="3">
                        Tổng cộng
                    </td>
                    <td class="text-center total-price-grand">
                        @totalPrice.ToString("N0")VNĐ
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-end" colspan="5">
                        <a href="@Url.Action("Index", "ShoppingCart")" title="Giỏ hàng" class="text-pink me-3">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <span class="d-none d-md-inline">Giỏ hàng</span>
                        </a>
                        <a href="@Url.Action("Index", "Checkout")" title="Thanh toán" class="text-pink me-4">
                            <i class="fa-solid fa-share"></i>
                            <span class="d-none d-md-inline">Thanh toán</span>
                    </td>
                </tr>
            </tbody>
        }
        else
        {
            <h6 class="text-center py-4">Giỏ hàng của bạn đang trống</h6>
        }
    </table>
</ul>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        attachDeleteEvent();
    });

    function attachDeleteEvent() {
        const deleteButtons = document.querySelectorAll('.btn-delete-product');
        deleteButtons.forEach(button => {
            button.addEventListener('click', () => {
                const shoppingCartId = button.getAttribute('data-shoppingCartId');

                fetch('/ShoppingCart/DeleteFlower', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ shoppingCartId: shoppingCartId }),
                })
                    .then(response => response.text())
                    .then(result => {
                        var cartContainer = document.getElementById('table-list-cart-flower');
                        cartContainer.innerHTML = '';
                        cartContainer.innerHTML = result;

                        var dropdownHeaders = document.querySelectorAll('[data-bs-toggle="dropdown"]');
                        dropdownHeaders.forEach(header => {
                            new bootstrap.Dropdown(header);
                        });

                        let totalQuantity = 0;
                        document.getElementById('toast-message').textContent = 'Xóa giỏ hàng thành công';
                        document.querySelectorAll('.quantity').forEach(e => {
                            const quantity = parseInt(e.textContent);
                            totalQuantity += quantity;
                        });

                        document.querySelectorAll('.cart-count').forEach(e => {
                            e.textContent = totalQuantity;
                        });

                        attachDeleteEvent();
                    });
            });
        });
    }

</script>
