
<div class="col-md-3 d-none d-md-block">
    <div class="list-group mb-3">
        @if (Session["UserId"] != null)
        {
            <a href="@Url.Action("Account", "Account")"
               class="list-group-item">Tài khoản của tôi</a>
            <a href="@Url.Action("EditAccount", "Account")"
               class="list-group-item">Chỉnh sửa tài khoản</a>
            <a href="@Url.Action("ChangePassword", "Account")"
               class="list-group-item">Mật khẩu</a>
            <a href="@Url.Action("OrderHistory", "Account")"
               class="list-group-item">Lịch sử đơn hàng</a>
            <a href="@Url.Action("Logout", "Account")"
               class="list-group-item">Đăng xuất</a>
        }
        else
        {
            <a href="@Url.Action("Login", "Account")"
               class="list-group-item">Đăng nhập</a>
            <a href="@Url.Action("Register", "Account")"
               class="list-group-item">Đăng ký</a>
            <a href="@Url.Action("ForgotPassword", "Account")"
               class="list-group-item">Đã quên mật khẩu</a>
        }
    </div>
</div>