
@{
    int totalPrice = 0;
}

<div class="container my-5">
    @if (Model != null && Model.Count > 0)
    {
        <div class="overflow-auto">
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>Hình ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Tổng cộng</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr class="text-center align-middle">
                            <td>
                                <a href="@Url.Action("Detail", "Flowers", new { flowerid = item.FLOWER_ID })">
                                    <img class="img-thumbnail img-cart-flower" src="~/Content/assets/img/product/@item.FLOWER.FLOWER_IMAGE"
                                         alt="@item.FLOWER.FLOWER_IMAGE" />
                                </a>
                            </td>
                            <td class="text-danger">
                                <a href="@Url.Action("Detail", "Flowers", new { flowerid = item.FLOWER_ID })">@item.FLOWER.FLOWER_NAME</a>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <input class="form-control w-auto quantity-flower"
                                           value="@item.QUANTITY"
                                           min="1"
                                           max="99"
                                           type="number"
                                           name="quantity"
                                           data-shoppingCartId="@item.CART_ID"
                                           data-flower-id="@item.FLOWER_ID" />
                                    <button type="submit" class="btn bg-pink shadow-none btn-delete-product"
                                            data-shoppingCartId="@item.CART_ID" data-flower-id="@item.FLOWER_ID">
                                        <i class="fa-solid fa-x text-white"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="text-end">@item.FLOWER.NEW_PRICE.ToString("N0")VNĐ</td>
                            <td class="text-end subtotal-price" data-flower-id="@item.FLOWER_ID">@item.SUBTOTAL.ToString("N0")VNĐ</td>
                        </tr>
                        @{
                            totalPrice += (int)item.SUBTOTAL;
                        }
                    </tbody>
                }
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-end fw-bold">Tổng cộng</td>
                        <td class="text-end total-price-grand">@totalPrice.ToString("N0")VNĐ</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="d-inline-block pt-2 pd-2 w-100">
            <div class="float-start">
                <a href="@Url.Action("Index", "Home")" class="btn shadow-none btn-secondary">
                    Tiếp tục mua sắm
                </a>
            </div>
            <div class="float-end">
                <a href="@Url.Action("Index", "Checkout")" class="btn shadow-none bg-pink text-white">
                    Thanh toán
                </a>
            </div>
        </div>
    }
    else
    {
        <h3 class="text-center">Giỏ hàng của bạn đang trống.</h3>
        <div class="d-inline-block pt-2 pd-2 w-100">
            <div class="float-end">
                <a href="@Url.Action("Index", "Home")" class="btn shadow-none bg-pink text-white">
                    Tiếp tục
                </a>
            </div>
        </div>
    }

</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('shopping-cart-flower').addEventListener('click', (event) => {
            if (event.target.classList.contains('btn-delete-product') || event.target.parentElement.classList.contains('btn-delete-product')) {
                const button = event.target.classList.contains('btn-delete-product') ? event.target : event.target.parentElement;
                const shoppingCartId = button.getAttribute('data-shoppingCartId');

                fetch('/ShoppingCart/DeleteFlower', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ shoppingCartId }),
                })
                    .then(response => response.json())
                    .then(result => {
                        const shoppingCartFlower = document.getElementById('shopping-cart-flower');
                        shoppingCartFlower.innerHTML = result.ShoppingCartFlower;

                        const cartFlower = document.getElementById('table-list-cart-flower');
                        cartFlower.innerHTML = result.CartFlower;

                        var dropdownHeaders = document.querySelectorAll('[data-bs-toggle="dropdown"]');
                        dropdownHeaders.forEach(header => {
                            new bootstrap.Dropdown(header);
                        });

                        toastMessage("Xóa khỏi giỏ hàng thành công");
                        
                        document.querySelectorAll('.cart-count').forEach(e => {
                            e.textContent = result.CartCount;
                        });
                    });
            }
        });

    });
</script>