@model FlowerShop.Context.ORDER

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    decimal? coupon = Model.ORDERDETAILS.Sum(o => o.SUBTOTAL) - Model.TOTAL_AMOUNT.Value + 30000;
}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Chi tiết đơn hàng</h4>
                <h6>Xem chi tiết đơn hàng</h6>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="card-sales-split">
                    <ul>
                        <li>
                            <a href="@Url.Action("Edit", "Orders", new {orderId = Model.ORDER_ID})"><img src="~/Content/admin/assets/img/icons/edit.svg" alt="img"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/Content/admin/assets/img/icons/pdf.svg" alt="img"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/Content/admin/assets/img/icons/excel.svg" alt="img"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/Content/admin/assets/img/icons/printer.svg" alt="img"></a>
                        </li>
                    </ul>
                </div>
                <div class="invoice-box table-height"
                     style="max-width: 1600px;width:100%;overflow: auto;margin:15px auto;padding: 0;font-size: 14px;line-height: 24px;color: #555;">
                    <table class="table" cellpadding="0" cellspacing="0"
                           style="width: 100%;line-height: inherit;text-align: left;">
                        <tbody>
                            <tr class="top">
                                <td colspan="6" style="padding: 5px;vertical-align: top;">
                                    <table style="width: 100%;line-height: inherit;text-align: left;">
                                        <tbody>
                                            <tr>
                                                <td style="padding:5px;vertical-align:top;text-align:left;padding-bottom:20px">
                                                    <font style="vertical-align: inherit;margin-bottom:25px;">
                                                        <font style="vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px; ">
                                                            Thông tin người gửi
                                                        </font>
                                                    </font><br>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                            @Model.SENDER_NAME
                                                        </font>
                                                    </font><br>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                            <a href="/cdn-cgi/l/email-protection"
                                                               class="__cf_email__"
                                                               data-cfemail="3a4d5b565117535417594f494e55575f487a5f425b574a565f14595557">@Model.SENDER_EMAIL</a>
                                                        </font>
                                                    </font><br>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                            @Model.SENDER_PHONE
                                                        </font>
                                                    </font><br>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                            @(Model.HIDE_SENDER_INFO == true ? "Ẩn thông tin người gửi" : "")
                                                        </font>
                                                    </font><br>
                                                </td>
                                                <td style="padding:5px;vertical-align:top;text-align:left;padding-bottom:20px">
                                                    <font style="vertical-align: inherit;margin-bottom:25px;">
                                                        <font style="vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px; ">
                                                            Thông tin người nhận
                                                        </font>
                                                    </font><br>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                            @Model.RECIPIENT_NAME
                                                        </font>
                                                    </font><br>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                            @Model.RECIPIENT_PHONE
                                                        </font>
                                                    </font><br>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                            @(Model.RECIPIENT_ADDRESS + ", " + Model.RECIPIENT_DISTRICT + ", " + Model.RECIPIENT_PROVINCE)
                                                        </font>
                                                    </font><br>
                                                </td>
                                                <td style="padding:5px;vertical-align:top;text-align:left;padding-bottom:20px">
                                                    <font style="vertical-align: inherit;margin-bottom:25px;">
                                                        <font style="vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px; ">
                                                            Lời nhắn cho người nhận
                                                        </font>
                                                    </font><br>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                            @Html.Raw(Model.MESSAGE_TO_RECIPIENT)
                                                        </font>
                                                    </font><br>
                                                </td>
                                                <td style="padding:5px;vertical-align:top;text-align:left;padding-bottom:20px">
                                                    <font style="vertical-align: inherit;margin-bottom:25px;">
                                                        <font style="vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px; ">
                                                            Lời nhắn cho shop
                                                        </font>
                                                    </font><br>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;">
                                                            @Html.Raw(Model.MESSAGE_TO_SHOP)
                                                        </font>
                                                    </font><br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr class="heading " style="background: #F3F2F7;">
                                <td style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                    Tên sản phẩm
                                </td>
                                <td style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                    Số lượng
                                </td>
                                <td style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                    Giá
                                </td>
                                <td style="padding: 5px;vertical-align: middle;font-weight: 600;color: #5E5873;font-size: 14px;padding: 10px; ">
                                    Tổng tiền
                                </td>
                            </tr>
                            @foreach(var item in Model.ORDERDETAILS)
                            {
                                <tr class="details" style="border-bottom:1px solid #E9ECEF ;">
                                    <td style="padding: 10px;vertical-align: top; display: flex;align-items: center;">
                                        
                                        <a href="@Url.Action("Detail", "Flowers", new {flowerId = item.FLOWER.FLOWER_ID})">
                                            <img src="~/Content/assets/img/product/@item.FLOWER.FLOWER_IMAGE" alt="img" class="me-2" style="width:40px;height:40px;">   
                                        </a>
                                        <a href="@Url.Action("Detail", "Flowers", new {flowerId = item.FLOWER.FLOWER_ID})">@item.FLOWER.FLOWER_NAME</a>

                                    </td>
                                    <td style="padding: 10px;vertical-align: top; ">
                                        @item.QUANTITY
                                    </td>
                                    <td style="padding: 10px;vertical-align: top; ">
                                        @item.FLOWER.NEW_PRICE.Value.ToString("N0")VNĐ
                                    </td>
                                    <td style="padding: 10px;vertical-align: top; ">
                                        @item.SUBTOTAL.Value.ToString("N0")VNĐ
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <div class="total-order w-100 max-widthauto m-auto mb-4">
                            <ul>
                                <li>
                                    <h4>Phí vận chuyển</h4>
                                    <h5>30,000VNĐ</h5>
                                </li>
                                @if (Model.DISCOUNT_ID != null)
                                {
                                    <li>
                                        <h4>Mã giảm giá</h4>
                                        <h5>@coupon.Value.ToString("N0")VNĐ</h5>
                                    </li>
                                }
                                <li class="total">
                                    <h4>Tổng tiền</h4>
                                    <h5>@Model.TOTAL_AMOUNT.Value.ToString("N0")VNĐ</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>