@model List<FlowerShop.Context.ORDER>

@{
    ViewBag.Title = "Danh sách dơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Danh sách đơn hàng</h4>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <button class="btn btn-danger" id="deleteSelected" data-bs-toggle="modal" data-bs-target="#deleteModal">Xóa đơn hàng</button>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf">
                                    <img src="~/Content/admin/assets/img/icons/pdf.svg" alt="img">
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel">
                                    <img src="~/Content/admin/assets/img/icons/excel.svg" alt="img">
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print">
                                    <img src="~/Content/admin/assets/img/icons/printer.svg" alt="img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Ngày đặt</th>
                                <th>Tên khách hàng</th>
                                <th>Tổng tiền</th>
                                <th>Hình thức thanh toán</th>
                                <th>Trạng thái</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderByDescending(o => o.ORDER_DATE))
                            {
                                <tr>
                                    <td>
                                        <label class="checkboxs">
                                            <input name="@item.ORDER_ID" type="checkbox" data-orderid="@item.ORDER_ID">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>
                                    <td>@item.ORDER_DATE.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>@item.SENDER_NAME</td>
                                    <td>@item.TOTAL_AMOUNT.Value.ToString("N0")VNĐ</td>
                                    <td><span>@(item.PAYMENT_METHOD == true ? "Thanh toán bằng ví Momo" : "Thanh toán khi nhận hàng")</span></td>
                                    @{
                                        var status = item.ORDERHISTORies.OrderByDescending(o => o.CHANGE_DATE).FirstOrDefault().STATUS;
                                    }
                                    @if (status == "Chờ xác nhận")
                                    {
                                        <td><span class="badges bg-warning">@status</span></td>
                                    }
                                    else if (status == "Đang giao hàng")
                                    {
                                        <td><span class="badges bg-lightyellow">@status</span></td>
                                    }
                                    else if (status == "Đã giao hàng")
                                    {
                                        <td><span class="badges bg-lightgreen">@status</span></td>
                                    }
                                    else if (status == "Đã hủy")
                                    {
                                        <td><span class="badges bg-danger">@status</span></td>
                                    }
                                    <td class="text-center">
                                        <a class="action-set" href="javascript:void(0);" data-bs-toggle="dropdown"
                                           aria-expanded="true">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("Detail", "Orders", new {orderId = item.ORDER_ID})" class="dropdown-item">
                                                    <img src="~/Content/admin/assets/img/icons/eye1.svg" class="me-2" alt="img">Chi tiết đơn hàng
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Edit", "Orders", new {orderId = item.ORDER_ID})" class="dropdown-item">
                                                    <img src="~/Content/admin/assets/img/icons/edit.svg" class="me-2" alt="img">Chỉnh sửa đơn hàng
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item showstatusorder" data-orderid="@item.ORDER_ID"
                                                   data-bs-toggle="modal" data-bs-target="#orderstatus">
                                                    <img src="~/Content/admin/assets/img/icons/plus-circle.svg" class="me-2"
                                                         alt="img">Trạng thái đơn hàng
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="orderstatus" tabindex="-1" role="dialog" aria-labelledby="orderStatusLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderStatusLabel">Cập nhật trạng thái đơn hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="updateStatusForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-12">
                            <div class="form-group">
                                <label for="orderStatus">Trạng thái</label>
                                <select class="form-control" id="orderStatus" name="orderstatus">
                                    <option>Đang giao hàng</option>
                                    <option>Đã giao hàng</option>
                                    <option>Đã hủy</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-0">
                                <label for="orderContent">Nội dung</label>
                                <textarea class="form-control" id="orderContent" name="content"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-submit" id="btnUpdateStatus">Xác nhận</button>
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModal">Bạn có chắc muốn xóa hóa đơn này?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hành động này không được hoàn tác
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary" id="deleteBtn">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

@if (@ViewBag.SuccessFully != null)
{
    <script>
        alert('@Html.Raw(ViewBag.SuccessFully)');
    </script>
}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        var orderId;
        let btnUpdateStatus = document.getElementById('btnUpdateStatus');

        var showStatusOrders = document.querySelectorAll('.showstatusorder');

        showStatusOrders.forEach(function (showStatusOrder) {
            showStatusOrder.addEventListener('click', function (event) {
                orderId = event.target.getAttribute('data-orderid');
            });
        });

        btnUpdateStatus.addEventListener('click', () => {
            var selectedIndex = document.getElementById("orderStatus").selectedIndex;
            var selectedText = document.getElementById("orderStatus").options[selectedIndex].text;
            var content = document.getElementById("orderContent").value;
            console.log(orderId)
            fetch(`/Admin/Orders/UpdateStatus`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ orderid: orderId, status: selectedText, content: content }),
            })
            .then(response => response.json())
            .then(data => {
                    location.reload();
            })
            .catch(error => {
                console.error('Lỗi:', error);
            });
        })
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const deleteModal = document.getElementById('deleteModal');
        const deleteBtn = document.getElementById('deleteBtn');

        deleteModal.addEventListener('shown.bs.modal', function () {
            const selectedCheckboxes = document.querySelectorAll('.datanew tbody input[type="checkbox"]:checked');
            const orderIds = Array.from(selectedCheckboxes).map(checkbox => checkbox.dataset.orderid);

            deleteBtn.dataset.orderIds = JSON.stringify(orderIds);
        });

        deleteBtn.addEventListener('click', handleDeleteClick);

        function handleDeleteClick() {
            const orderIdsToDelete = JSON.parse(deleteBtn.dataset.orderIds);

            if (orderIdsToDelete && orderIdsToDelete.length > 0) {
                deleteModal.classList.add('show');

                fetch(`/Admin/Orders/DeleteMultiple`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ orderIds: orderIdsToDelete }),
                })
                    .then(handleResponse)
                    .then(data => {
                        if (data.success) {
                            location.reload();
                        } else {
                            console.error('Lỗi khi xóa sản phẩm:', data.error || 'Lỗi không xác định');
                        }
                    })
                    .catch(handleError);
            } else {
                alert('Vui lòng chọn ít nhất một sản phẩm để xóa.');
            }
        }

        function handleResponse(response) {
            if (!response.ok) {
                throw new Error(`Lỗi HTTP! Trạng thái: ${response.status}`);
            }
            return response.json();
        }

        function handleError(error) {
            console.error('Lỗi:', error);
        }
    });
</script>