<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/admin/assets/img/favicon.jpg">

    <link rel="stylesheet" href="~/Content/admin/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/admin/assets/css/animate.css">

    <link rel="stylesheet" href="~/Content/admin/assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="~/Content/admin/assets/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="~/Content/admin/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Content/admin/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/Content/admin/assets/css/style.css">
    @RenderSection("scripts", required: false)

</head>

<body>
    <div id="global-loader">
        <div class="whirly-loader"></div>
    </div>

    <div class="main-wrapper">
        <div class="header">
            <div class="header-left active" style="background-color: #F9F5F2">
                <a href="@Url.Action("Index", "Home", new {area = ""})" class="logo">
                    <img src="~/Content/admin/assets/img/logo-bloom.png" alt="" />
                </a>
                <a href="index.html" class="logo-small">
                    <img src="~/Content/admin/assets/img/logo-small.png" alt="" />
                </a>
                <a id="toggle_btn" href="javascript:void(0);"> </a>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <ul class="nav user-menu">
                <li class="nav-item">
                    <div class="top-nav-search">
                        <a href="javascript:void(0);" class="responsive-search">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="~/Content/admin/assets/img/icons/users1.svg" alt="" />
                            <span class="status online"></span>
                        </span>
                    </a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilename">
                            <div class="profileset">
                                <span class="user-img">
                                    <img src="~/Content/admin/assets/img/icons/users1.svg" alt="" />
                                    <span class="status online"></span>
                                </span>
                                <div class="profilesets">
                                    <h5>Admin</h5>
                                </div>
                            </div>
                            <hr class="m-0" />
                            <a class="dropdown-item" href="@Url.Action("Profiles", "Account")">
                                <i class="me-2" data-feather="user"></i>Thông tin cá nhân
                            </a>
                            <hr class="m-0" />
                            <a class="dropdown-item logout pb-0" href="@Url.Action("Logout", "Account", new {area = ""})">
                                <img src="~/Content/admin/assets/img/icons/log-out.svg" class="me-2" alt="img" />Đăng xuất
                            </a>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="dropdown mobile-user-menu">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                   aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">Thông tin cá nhân</a>
                    <a class="dropdown-item" href="signin.html">Đăng xuất</a>
                </div>
            </div>
        </div>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                            <a href="@Url.Action("Index", "Home")">
                                <img src="~/Content/admin/assets/img/icons/dashboard.svg" alt="img" />
                                <span>Admin Dashboard</span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <img src="~/Content/admin/assets/img/icons/product.svg" alt="img" />
                                <span>Sản phẩm</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Flowers")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Flowers" ? "active" : "")">Danh sách sản phẩm</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "FlowerTypes")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "FlowerTypes" ? "active" : "")">Danh mục</a>
                                </li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <img src="~/Content/admin/assets/img/icons/sales1.svg" alt="img" /><span>
                                    Đơn hàng
                                </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="@Url.Action("Index", "Orders")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Orders" ? "active" : "")">Danh sách đơn hàng</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <img src="~/Content/admin/assets/img/icons/purchase1.svg" alt="img" /><span>
                                    Mã giảm giá
                                </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="@Url.Action("Index", "Discount")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Discount" ? "active" : "")">Mã giảm giá</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <img src="~/Content/admin/assets/img/icons/users1.svg" alt="img" /><span>
                                    Tài khoản
                                </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="@Url.Action("Index", "Account")">Tài khoản</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>

    <script src="~/Content/admin/assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/Content/admin/assets/js/feather.min.js"></script>

    <script src="~/Content/admin/assets/js/jquery.slimscroll.min.js"></script>

    <script src="~/Content/admin/assets/js/jquery.dataTables.min.js"></script>

    <script src="~/Content/admin/assets/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/Content/admin/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/admin/assets/plugins/select2/js/select2.min.js"></script>

    <script src="~/Content/admin/assets/js/script.js"></script>

</body>

</html>