@model FlowerShop.Models.DetailModel

@{
    ViewBag.Title = "Details";
    <link href="~/Content/assets/css/product.css" rel="stylesheet" type="text/css" />
}

<div class="container my-5">
    <div id="flower-detail">
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="img-thumbnail" src="~/Content/assets/img/product/@Model.Flower.FLOWER_IMAGE" alt="">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="flower-name mt-3 mt-md-0 fw-bold">
                    @Model.Flower.FLOWER_NAME
                </h2>
                <hr>
                <div class="price-flower d-flex align-items-center">
                    @if (Model.Flower.OLD_PRICE != null)
                    {
                        <h5 class="price-old me-3 fw-bold m-0">
                            @Model.Flower.OLD_PRICE.Value.ToString("N0")VNĐ
                        </h5>
                    }
                    <h5 class="price-new fw-bold m-0">
                        @Model.Flower.NEW_PRICE.Value.ToString("N0")VNĐ
                    </h5>

                    @if (Model.Flower.OLD_PRICE != null)
                    {
                        var oldPrice = Model.Flower.OLD_PRICE;
                        var newPrice = Model.Flower.NEW_PRICE;
                        var discount = ((oldPrice - newPrice) / oldPrice) * 100;
                        <span class="percent_off px-2 py-1 text-white ms-3 " style="background-color: #f00; font-size: 12px">
                            @discount.Value.ToString("N0")%
                            GIẢM
                        </span>
                    }
                </div>
                <hr>
                @if (Model.DiscountCodes.Count != 0)
                {
                    <div class="coupon-box dropdown mb-4">
                        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="coupon-slider d-flex text-uppercase">
                                <div class="fw-bold text-capitalize text-dark">Khuyến mãi:</div>
                                @foreach (var item in Model.DiscountCodes)
                                {
                                    <div class="coupon-item">
                                        Giảm @(item.DISCOUNT_TYPE == true ? item.DISCOUNT_VALUE + "%" : (item.DISCOUNT_VALUE / 1000) + "K")
                                    </div>
                                }
                            </div>
                        </a>
                        <ul class="dropdown-menu end-0 p-3 overflow-auto" style="max-height: 300px; z-index: 2">
                            @foreach (var item in Model.DiscountCodes)
                            {
                                <li class="coupon-item mb-3 p-2 d-flex">
                                    <div class="cp-code w-25 text-white py-3 d-flex justify-content-center align-items-center text-uppercase">
                                        @item.CODE
                                    </div>
                                    <div class="cp-other w-75 ms-2">
                                        <div class="cp-title text-uppercase">
                                            Giảm @(item.DISCOUNT_TYPE == true ? item.DISCOUNT_VALUE + "%" : (item.DISCOUNT_VALUE / 1000) + "K")
                                        </div>
                                        <div class="cp-description text-dark fs-6">
                                            @item.DESCRIPTION
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
                <div class="call-us-box d-flex align-items-center mb-4">
                    <div class="fw-bold text-capitalize me-2">Chat ngay:</div>
                    <a href="https://m.me/leex.dev">
                        <img class="rounded-circle me-2" src="~/Content/assets/img/ms.png" alt="ms.png" style="width: 36px; height: 36px;">
                    </a>
                    <a href="https://zalo.me/leex.dev">
                        <img class="rounded-circle" src="~/Content/assets/img/zalo.png" alt="zalo.png" style="width: 36px; height: 36px;">
                    </a>
                </div>

                <div class="shipping-box d-flex">
                    <div class="fw-bold text-capitalize me-2">Vận chuyển:</div>
                    <p>Miễn phí giao hoa khu vực TP.HCM</p>
                </div>

                @using (Html.BeginForm("BuyFLower", "ShoppingCart", FormMethod.Post, new { id = "form-product", @class = "d-flex" }))
                {
                    @Html.Hidden("flowerId", Model.Flower.FLOWER_ID)
                    <input id="input-quantity" class="form-control shadow-none me-2" type="number" name="quantity" value="1" min="1" max="99">
                    <button type="submit" class="btn btn-warning text-white fw-bold px-4 py-2 me-2">Mua ngay</button>
                    <button type="button" class="btn btn-success text-white fw-bold px-4 py-2 me-2" id="btn-add-to-cart" data-flowerId="@Model.Flower.FLOWER_ID">Thêm vào giỏ hàng</button>
                }

                <div class="pdp-featured py-4 row">
                    <div class="pdp-featured-item col-12 col-xl-6 row mb-3 mb-xl-0">
                        <div class="col-3 col-sm-2 col-lg-3">
                            <img src="~/Content/assets/img/60mins.png" alt="">
                        </div>
                        <div class="col-9 col-sm-10 col-lg-9">
                            <span>Giao hoa NHANH trong 60 phút</span>
                        </div>
                    </div>
                    <div class="pdp-featured-item col-12 col-xl-6 row">
                        <div class="col-3 col-sm-2 col-lg-3">
                            <img src="~/Content/assets/img/freegifts.png" alt="">
                        </div>
                        <div class="col-9 col-sm-10 col-lg-9">
                            <span>Tặng miễn phí thiệp hoặc banner</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="description-flower mt-4">
            <div class="name fw-bold mb-3">Mô tả sản phẩm</div>
            <div class="content">
                @Html.Raw(Model.Flower.DESCRIPTION)
            </div>
        </div>

        @if(Model.Flowers.Count != 0)
        {
            <div id="relate-flower">
                <h4 class="mt-5 mb-4 text-center">Sản phẩm liên quan</h4>
                <div class="list-product row justify-content-center">
                    @foreach(var item in Model.Flowers.Take(4)) 
                    {
                        <div class="item-product col-md-3 col-6 mb-4">
                            <div class="image position-relative mb-3">
                                <a href="@Url.Action("Detail", "Flowers", new { flowerId = item.FLOWER_ID})">
                                    <img class="img-fluid" src="~/Content/assets/img/product/@item.FLOWER_IMAGE" alt="@item.FLOWER_IMAGE">
                                    @if(item.OLD_PRICE != null)
                                    {
                                        var oldPrice = item.OLD_PRICE;
                                        var newPrice = item.NEW_PRICE;
                                        var discount = ((oldPrice - newPrice) / oldPrice) * 100;
                                        <span class="percent-off-rounded">@discount.Value.ToString("N0")%<br>GIẢM</span>
                                    }
                                </a>
                            </div>
                            <div class="content">
                                <div class="description">
                                    <div class="fw-bold text-center">
                                        <a href="@Url.Action("Detail", "Flowers", new { flowerId = item.FLOWER_ID})">@item.FLOWER_NAME</a>
                                    </div>
                                    <div class="price text-center fw-bold p-2">
                                        <span class="price-new">@item.NEW_PRICE.Value.ToString("N0")VNĐ</span>
                                        @if(item.OLD_PRICE != null) 
                                        {
                                            <span class="price-old">@item.OLD_PRICE.Value.ToString("N0")VNĐ</span>
                                        }
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="btn bg-pink d-block p-1 w-60">
                                            <a class="text-white rounded" href="@Url.Action("Detail", "Flowers", new { flowerId = item.FLOWER_ID})">Đặt hàng</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const addButton = document.getElementById('btn-add-to-cart');
        const quantity = document.getElementById('input-quantity');

        addButton.addEventListener('click', () => {
            const flowerIdValue = addButton.getAttribute('data-flowerId');
            const quantityValue = quantity.value;

            fetch('/ShoppingCart/AddFlowerSC', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ quantity: quantityValue, flowerId: flowerIdValue })
            })
                .then(response => response.json())
                .then(result => {
                    var cartContainer = document.getElementById('table-list-cart-flower');
                    cartContainer.innerHTML = result.CartFlower;

                    document.querySelectorAll('.total-price-grand').forEach(e => {
                        e.textContent = result.PriceGrand.toLocaleString() + "VNĐ";
                    });

                    var dropdownHeaders = document.querySelectorAll('[data-bs-toggle="dropdown"]');
                    dropdownHeaders.forEach(header => {
                        new bootstrap.Dropdown(header);
                    });

                    toastMessage("Thêm vào giỏ hàng thành công");

                    document.querySelectorAll('.cart-count').forEach(e => {
                        e.textContent = result.CartCount;
                    });
                });
        });
    });
</script>
