@model PagedList.IPagedList<FlowerShop.Context.FLOWER>
@using PagedList.Mvc

@{
    ViewBag.Title = "Tìm kiếm";
}

<div class="container mt-4">
    <h4>Kết quả tìm kiếm: @ViewBag.SearchQuery</h4>
    @using (Html.BeginForm("Search", "Flowers", FormMethod.Get))
    {
        <div class="row">
            <div class="col-12 col-md-6">
                <input name="searchQuery" type="text" value="@ViewBag.SearchQuery" class="form-control" id="search-flower-name" placeholder="Nhập tên sản phẩm ...">
            </div>
            <div class="col-12 col-md-6 mt-2 mt-md-0">
                <div class="form-group">
                    <select class="form-select" name="flowerTypeId" id="flowerTypeId">
                        <option selected value="0">Tất cả danh mục</option>
                        @if (ViewBag.ListFlowerTypes != null && ViewBag.ListFlowerTypes.Count > 0)
                        {
                            foreach (var item in ViewBag.ListFlowerTypes)
                            {
                                <option value="@item.FLOWERTYPE_ID" @(item.FLOWERTYPE_ID.ToString() == ViewBag.SelectedFlowerTypeId ? "selected" : "")>
                                    @item.FLOWERTYPE_NAME
                                </option>
                            }
                        }

                    </select>
                </div>
            </div>

        </div>
        <button type="submit" class="btn bg-pink text-white mt-2">
            Tìm kiếm
        </button>
    }
    <hr>
    @if (Model != null && Model.Count > 0)
    {
        <div class="d-flex justify-content-end align-items-center mt-3">
            <span class="me-2">Sắp xếp theo</span>
            <div>
                <select class="form-select" id="filterSelect">
                    <option value="0" @(ViewBag.FilterValue == 0 ? "selected" : "")>Mặc định</option>
                    <option value="1" @(ViewBag.FilterValue == 1 ? "selected" : "")>Tên (A - Z)</option>
                    <option value="2" @(ViewBag.FilterValue == 2 ? "selected" : "")>Tên (Z - A)</option>
                    <option value="3" @(ViewBag.FilterValue == 3 ? "selected" : "")>Giá (Thấp > Cao)</option>
                    <option value="4" @(ViewBag.FilterValue == 4 ? "selected" : "")>Giá (Cao > Thấp)</option>
                </select>

            </div>
        </div>
        <div class="product-list mt-3">
            <div id="filteredProducts">
                @Html.Partial("_FLowerSearch")
            </div>
        </div>
        <nav class="d-flex justify-content-center">
            <ul class="pagination">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Search", "Flowers", new { page = Model.PageNumber - 1, searchQuery = ViewBag.SearchQuery, flowerTypeId = ViewBag.SelectedFlowerTypeId, filterValue = ViewBag.FilterValue })" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&laquo;</span>
                    </li>
                }

                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Search", "Flowers", new { page = i, searchQuery = ViewBag.SearchQuery, flowerTypeId = ViewBag.SelectedFlowerTypeId, filterValue = ViewBag.FilterValue })">@i</a>
                    </li>
                }

                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Search", new { page = Model.PageNumber + 1, searchQuery = ViewBag.SearchQuery, flowerTypeId = ViewBag.SelectedFlowerTypeId, filterValue = ViewBag.FilterValue })" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&raquo;</span>
                    </li>
                }
            </ul>
        </nav>
    }
    else
    {
        <p>Không có sản phẩm phù hợp với tiêu chí tìm kiếm.</p>
    }
</div>
