@model FlowerShop.Context.USER

@{
    ViewBag.Title = "Đặt lại mật khẩu";
}

<div class="container">
    <div class="row mt-3">
        <div class="col-md-9">
            <h5 class="fw-bold">Đặt lại mật khẩu</h5>
            <span>Nhập mật khẩu mới mà bạn muốn sử dụng.</span>
            <hr class="my-2">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-customer ms-0 ms-md-5 mt-3" }))
            {
                <div class="form-group row align-items-center mb-3">
                    <input type="hidden" name="token" value="@ViewBag.ResetToken" />
                    @Html.HiddenFor(model => model.RESETTOKEN)
                    @Html.LabelFor(model => model.USER_PASSWORD, new { @class = "fw-bold fs-6 form-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.USER_PASSWORD, new { @class = "form-control", placeholder = "Mật khẩu", type = "password", required = "required" })
                        @Html.ValidationMessageFor(model => model.USER_PASSWORD, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row align-items-center">
                    @Html.LabelFor(model => model.CONFIRM_PASSWORD, new { @class = "fw-bold fs-6 form-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.CONFIRM_PASSWORD, new { @class = "form-control", placeholder = "Xác nhận mật khẩu", type = "password", required = "required" })
                        @Html.ValidationMessageFor(model => model.CONFIRM_PASSWORD, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="button-select mt-4">
                    <button class="btn btn-danger text-white px-3 py-2 rounded-3 float-end">Tiếp tục</button>
                </div>
            }

        </div>

        @Html.Partial("_MenuAccount")
    </div>
</div>