@model FLowerShop.Models.OrderModel

@{
    ViewBag.Title = "Thanh toán";
}

<div class="container mt-3 mt-md-5">
    <form>
        <div class="row">
            @using (Html.BeginForm("AddOrder", "Checkout", FormMethod.Post))
            {
            <div class="col-12 col-md-7">

                <h5 class="m-0">Thông tin người gửi</h5>
                <hr class="mt-2 mb-3" />
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.USER_NAME, new { @class = "fw-bold fs-6 form-label" })
                            @Html.TextBoxFor(model => model.User.USER_NAME, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.User.USER_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 mt-3 mt-md-0">
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.USER_PHONE, new { @class = "fw-bold fs-6 form-label" })
                            @Html.TextBoxFor(model => model.User.USER_PHONE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.User.USER_PHONE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.User.USER_EMAIL, new { @class = "fw-bold fs-6 form-label" })
                    @Html.TextBoxFor(model => model.User.USER_EMAIL, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.User.USER_EMAIL, "", new { @class = "text-danger" })
                </div>
                <h5 class="m-0 mt-4">Thông tin người nhận</h5>
                <hr class="mt-2 mb-3" />
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Order.RECIPIENT_NAME, new { @class = "fw-bold fs-6 form-label" })
                            @Html.TextBoxFor(model => model.Order.RECIPIENT_NAME, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Order.RECIPIENT_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6 mt-3 mt-md-0">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Order.RECIPIENT_PHONE, new { @class = "fw-bold fs-6 form-label" })
                            @Html.TextBoxFor(model => model.Order.RECIPIENT_PHONE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Order.RECIPIENT_PHONE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Tỉnh, thành phố", new { @class = "fw-bold fs-6 form-label" })
                            <select class="form-select">
                                <option disabled>--- Vui lòng chọn ---</option>
                                <option selected value="1">Tp. Hồ Chí Minh</option>
                                <option value="2">Hà Nội</option>
                                <option value="3">Nha Trang</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3 mt-md-0">
                        <div class="form-group">
                            @Html.Label("Quận/ Huyện:", new { @class = "fw-bold fs-6 form-label" })
                            <select class="form-select">
                                <option disabled>--- Vui lòng chọn ---</option>
                                <option selected value="1">Quận 9</option>
                                <option value="2">Quận 1</option>
                                <option value="3">Quận 2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group my-3">
                    @Html.LabelFor(model => model.Order.RECIPIENT_ADDRESS, new { @class = "fw-bold fs-6 form-label" })
                    @Html.TextBoxFor(model => model.Order.RECIPIENT_ADDRESS, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Order.RECIPIENT_ADDRESS, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.Order.MESSAGE_TO_RECIPIENT, new { @class = "fw-bold fs-6" })
                    @Html.TextAreaFor(model => model.Order.MESSAGE_TO_RECIPIENT, new { @class = "form-control", rows = "2" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.Order.MESSAGE_TO_SHOP, new { @class = "fw-bold fs-6" })
                    @Html.TextAreaFor(model => model.Order.MESSAGE_TO_SHOP, new { @class = "form-control", rows = "2" })
                </div>
                @Html.Label("Ẩn thông tin", new { @class = "fw-bold fs-6" })
                <div class="form-check mb-5">
                    @Html.CheckBox("check-hide-sender", new { @class = "form-check-input", value = "1", @id = "check-hide-sender" })
                    @Html.Label("Giấu thông tin người gửi", new { @class = "form-check-label", @for = "check-hide-sender" })
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div id="table-flower-checkout">
                    @Html.Partial("_CheckoutFlower")
                </div>
                <form>
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <label for="input-coupon" class="col-form-label fw-bold">Mã giảm giá</label>
                        </div>
                        <div class="col-12 col-md-6">
                            <input type="text" name="coupon" placeholder="Mã giảm giá" id="input-coupon"
                                   class="form-control" />
                        </div>
                        <div class="col-12 col-md-3 mt-3 mt-md-0 text-end">
                            <button type="submit" class="btn bg-pink text-white">
                                Áp dụng
                            </button>
                        </div>
                    </div>
                </form>

                <form id="form-payment-method" class="mt-4">
                    <div class="form-check d-flex">
                        <input class="form-check-input my-auto" type="radio" name="flexRadioCheckout" id="pay-wallet" />
                        <label class="form-check-label" for="pay-wallet">
                            <img class="img-fluid ms-1" src="~/Content/assets/img/cheque.png" alt="momo"
                                 style="max-width: 48px; max-height: 48px" />
                            Ví điện tử
                            <img class="img-fluid" src="~/Content/assets/img/momo.png" alt="momo"
                                 style="max-width: 48px; max-height: 48px" />
                        </label>
                    </div>
                    <div class="form-check d-flex">
                        <input class="form-check-input my-auto" type="radio" name="flexRadioCheckout" id="pay-cod" checked />
                        <label class="form-check-label" for="pay-cod">
                            <img class="img-fluid ms-1" src="~/Content/assets/img/cod.png" alt="momo"
                                 style="max-width: 48px; max-height: 48px" />
                            Thanh toán khi giao hàng
                        </label>
                    </div>
                </form>
                <hr>
                <div class="col-auto float-end mb-3">
                    <button type="submit" class="btn mb-3 bg-pink text-white">
                        Xác nhận đơn hàng
                    </button>
                </div>
            </div>
             }
        </div>
    </form>
</div>